@model Proyecto_Grupo_7_Progra_Avanzada.Models.Caja

@{
    ViewData["Title"] = "Detalles Caja";
}

<div class="card-gold shadow mt-4">

    <div class="card-header custom-card-header-info text-center">
        <h1 class="h3 mb-0">Detalles del Comercio</h1>
        <h4 class="mb-0">@Model.Nombre</h4>
    </div>

    <div class="p-4">
        <dl class="row">

            <dt class="col-sm-4 text-dark">ID de Comercio</dt>
            <dd class="col-sm-8">@Model.IdComercio</dd>

            <dt class="col-sm-4 text-dark">Nombre</dt>
            <dd class="col-sm-8">@Model.Nombre</dd>

            <dt class="col-sm-4 text-dark">Descripción</dt>
            <dd class="col-sm-8">@Model.Descripcion</dd>

            <dt class="col-sm-4 text-dark">Teléfono SINPE</dt>
            <dd class="col-sm-8">@Model.TelefonoSINPE</dd>

            <dt class="col-sm-4 text-dark">Fecha de Registro</dt>
            <dd class="col-sm-8">@Model.FechaDeRegistro.ToString("dd/MM/yyyy HH:mm")</dd>

            <dt class="col-sm-4 text-dark">Fecha de Modificación</dt>
            <dd class="col-sm-8">
                @(Model.FechaDeModificacion.HasValue
                                ? Model.FechaDeModificacion.Value.ToString("dd/MM/yyyy HH:mm")
                                : "N/A")
            </dd>

            <dt class="col-sm-4 text-dark">Estado</dt>
            <dd class="col-sm-8">
                @(Model.Estado
                                ? Html.Raw("<span class='badge bg-success'><i class='fas fa-check-circle'></i> Activo</span>")
                                : Html.Raw("<span class='badge bg-danger'><i class='fas fa-times-circle'></i> Inactivo</span>"))
            </dd>

        </dl>
    </div>

    <div class="card-footer text-center">
        <a asp-action="Edit" asp-route-id="@Model?.IdComercio"
           class="btn custom-btn-warning btn-lg mx-2">
            <i class="fas fa-edit"></i> Editar
        </a>

        <a asp-action="Index"
           class="btn custom-btn-secondary btn-lg mx-2">
            <i class="fas fa-arrow-alt-circle-left"></i> Volver a la Lista
        </a>
    </div>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}