@model IEnumerable<Proyecto_Grupo_7_Progra_Avanzada.Models.Comercio>

@{
    ViewData["Title"] = "Comercios Registrados";
}

<h1>Comercios Registrados</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear un Nuevo Comercio</a>
    <a asp-controller="Configuraciones" asp-action="Index" class="btn btn-info">Configuraciones de Comercio</a>
</p>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Identificacion)
            </th>
            <th>
                Tipo de Identificación
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                Tipo de Comercio
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorreoElectronico)
            </th>
            <th>
                Estado
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Identificacion)
                </td>
                <td>
                    @(item.TipoIdentificacion == 1 ? "Física" : "Jurídica")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @{
                        string tipoComercio = item.TipoDeComercio switch
                        {
                            1 => "Restaurantes",
                            2 => "Supermercados",
                            3 => "Ferreterías",
                            4 => "Otros",
                            _ => "No Definido"
                        };
                        @tipoComercio
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CorreoElectronico)
                </td>
                <td>
                    @(item.Estado ? "Activo" : "Inactivo")
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdComercio" class="btn btn-sm btn-warning">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdComercio" class="btn btn-sm btn-info">Detalles</a> |
                    <a asp-action="VerCajas" asp-route-id="@item.IdComercio" class="btn btn-sm btn-secondary">Ver Cajas</a>
                </td>
            </tr>
        }
    </tbody>
</table>